<!DOCTYPE html>
<html>
  <head>
    <title>Probe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_pack_tag 'client_and_server' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class='mdc-typography'>
    <%= yield %>
  </body>
</html>
